/* Estilos generales para el tema claro */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos generales para el tema oscuro */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Estilos específicos para el tema oscuro */
.dark-theme .navbar {
  background-color: #333333;
}

.dark-theme .main-layout {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-theme .saved-connections {
  background-color: #333;
  color: #ffffff;
}

.dark-theme .connection-details {
  background-color: #444;
  color: #ffffff;
}

/* Cambios visuales para botones o elementos de listas */
.dark-theme .list-group-item {
  background-color: #444;
  color: #ffffff;
}

.dark-theme .list-group-item:hover {
  background-color: #555;
}

/* Ajustes para elementos de entrada */
.dark-theme input {
  background-color: #333;
  color: #ffffff;
  border-color: #555;
}

.light-theme input {
  background-color: #fff;
  color: #000;
  border-color: #ccc;
}
