version: '3'

services:

  grafana:
    image: grafana/grafana:11.3.1

    ports:
      - "${GRAFANA_PORT_EXTERNAL}:${GRAFANA_PORT_INTERNAL}"
    environment:
      GF_SECURITY_ADMIN_USER: "${GRAFANA_USER}"
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_PASSWORD}"
    volumes:
      - grafana_storage:/var/lib/grafana
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./alertmanager/alerting_rules_mongo.yml:/etc/prometheus/alerting_rules_mongo.yml:ro
      - ./alertmanager/alerting_rules_maria.yml:/etc/prometheus/alerting_rules_maria.yml:ro
      - ./alertmanager/alerting_rules_postgres.yml:/etc/prometheus/alerting_rules_postgres.yml:ro

    ports:
      - "${PROMETHEUS_PORT_EXTERNAL}:${PROMETHEUS_PORT_INTERNAL}"
    networks:
      - monitoring

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    ports:
      - "${ALERTMANAGER_PORT_EXTERNAL}:${ALERTMANAGER_PORT_INTERNAL}"
    networks:
      - monitoring

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}?sslmode=disable"
    ports:
      - "${EXPORT_POSTGRES_PORT_EXTERNAL}:${EXPORT_POSTGRES_PORT_INTERNAL}"
    networks:
      - monitoring

  mongo-exporter:
    image: ssheehy/mongodb-exporter:latest
    environment:
      MONGODB_URI: "${MONGODB_URI}"
    ports:
      - "${EXPORT_MONGO_PORT_EXTERNAL}:${EXPORT_MONGO_PORT_INTERNAL}"
    networks:
      - monitoring
  
  mariadb-exporter:
    image: prom/mysqld-exporter
    command:
      - --config.my-cnf=/cfg/.my.cnf
      - --mysqld.address=${MARIADB_HOST}:${MARIADB_PORT}
    volumes:
      - ".my.cnf:/cfg/.my.cnf"
    ports:
      - "${EXPORT_MARIADB_PORT_EXTERNAL}:${EXPORT_MARIADB_PORT_INTERNAL}"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge

volumes:
  grafana_storage:
