global:
  scrape_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - /etc/prometheus/alerting_rules_maria.yml
  - /etc/prometheus/alerting_rules_mongo.yml
  
  
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:${PROMETHEUS_PORT_INTERNAL}']

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:${EXPORT_POSTGRES_PORT_INTERNAL}']

  - job_name: 'mongo'
    static_configs:
      - targets: ['mongo-exporter:${EXPORT_MONGO_PORT_INTERNAL}']

  - job_name: 'mariadb'
    static_configs:
      - targets: ['mariadb-exporter:${EXPORT_MARIADB_PORT_INTERNAL}']
